.card {
  display: table-cell;
  vertical-align: middle;
  height: 160px;
  margin: auto;
  width: 300px;
  border-radius: 20px;
  background-color: rgba(177, 177, 177, 0.24);
  box-shadow: 10px 5px 5px rgba(105, 105, 105, 0.24);
  text-align: center;
}
